:root {
    --side: 50vmin;
    --l: 40vmin;
}

.animation-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.view {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    perspective: 800px;
}

.plane {
    width: var(--side);
    height: var(--side);
    transform-style: preserve-3d;
}

.plane.main {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;
}

.plane.main .circle {
    width: var(--side);
    height: var(--side);
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px #3160df, inset 0 0 60px #3160df;
}

.plane.main .circle::before,
.plane.main .circle::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: #1b487c;
    box-shadow: 0 0 60px 2px #13275e;
}

.plane.main .circle::before {
    transform: translateZ(calc(-1 * var(--l)));
}

.plane.main .circle::after {
    transform: translateZ(var(--l));
}

.plane.main .circle:nth-child(1) { transform: rotateZ(72deg) rotateX(63.435deg); }
.plane.main .circle:nth-child(2) { transform: rotateZ(144deg) rotateX(63.435deg); }
.plane.main .circle:nth-child(3) { transform: rotateZ(216deg) rotateX(63.435deg); }
.plane.main .circle:nth-child(4) { transform: rotateZ(288deg) rotateX(63.435deg); }
.plane.main .circle:nth-child(5) { transform: rotateZ(360deg) rotateX(63.435deg); }

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@media (max-width: 768px) {
    :root {
        --side: 60vmin;
        --l: 45vmin;
    }
}

@media (max-width: 480px) {
    :root {
        --side: 70vmin;
        --l: 50vmin;
    }
}
