footer {
    background-color: #030016;
    width: 100%;
    padding: 20px 10px;
    position: relative;
    margin-top: 30px;
    bottom: 0;
    left: 0;
}
  
footer p {
    margin-left: 20px;
    font-size: 18px;
}

a {
    color: #cccaca;
    text-decoration: none;
}

a:hover {
    color: #d60730;
    text-decoration: none;
}
  