.projetos {
  position: relative;
  z-index: 5;
  height: 180px;
  width: auto;
  padding: 15px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.project {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.project img {
  height: 250px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.card {
  background-color: #0f1c41;
  border-radius: 10px;
  height: auto;
  box-shadow: 5px 5px 5px #040814;
}

.projectTitles {
  text-align: center;
}

.describeProject {
  padding-left: 10px;
  font-size: 13px;
}

.formatParag {
  font-size: 13px;
}

@media (max-width: 768px) {
  .project {
    width: 280px;
    height: 380px;
  }

  .project img {
    width: 280px;
    height: 200px;
  }

  .card {
    width: 280px;
    margin: 10px 0;
  }

  .describeProject,
  .formatParag {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .project {
    width: 250px;
    height: 160px;
  }

  .project img {
    width: 250px;
    height: 190px;
  }

  .card {
    height: auto;
  }

  .describeProject, .formatParag {
    font-size: 11px;
  }
}
